<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planit">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.planit.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.planit.gcm.permission.C2D_MESSAGE" />


    <application
        android:name=".constants.GlobalApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/planit_app_logo"
        android:label="PlanIt"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.WebViewActivity" />

        <activity android:name=".activities.LoginActivity" />

        <activity android:name=".activities.ProfileActivity" />

        <activity android:name=".activities.AddLinkedAccountActivity" />

        <activity android:name=".activities.AddRuleActivity" />

<!--
        <activity
            android:name=".gcm.DemoActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
-->

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.planit.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />

    </application>

</manifest>
